.navbarTop{
    background-color: #daa458;
}
.sidebarLeft{
    background-color: #35384b;
}
#content{
    background-color: #eef2f5;
}
.btn-color{
    background-color: #2ec7cf;
}
.btnmodal{
    font-size: 10px;
    margin-bottom: -5px;
}
.btn-add{
    float: right;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 18%;
    border-radius: 15%;
}
.fa-podcast{
    font-size: 30px;
}
.btn-contract{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 18%;
    border-radius: 15%;
}
.fa-file-contract{
    font-size: 30px;
}
.btnyt{
    background-color: #FE0000;
    color: #fff;
    border: none;
}
.btnfb{
    background-color: #1877F2;
    color: #fff;
    border: none;
}
.btnins{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #fff;
    border: none;
}
.btnplus{
    background-color: #27d367;
    color: #fff;
    border: none;
}
.btnminus{
    background-color: #f20001;
    color: #fff;
    border: none;
}
.nav-page{
    color: #000;
    background-color: #fff;
}
.main-screen{
    background-color: #eef2f5;
}
.filter-screen{
    background-color: #e6e9ee;
}
.main-table{
    padding-top: 20px;
}


.fa-phone-alt{
    background-color: #2ecf6c;
    color: #fff;
}
.fa-envelope{
    background-color: #2ec7cf;
    color: #fff;
}
.fass{
    padding: 5px;
    font-size: 15px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%;
}
.fass:hover{
    opacity: 0.8;
}
.option1{
    margin-top: -10px;
}
.option2{
    margin-top: -5px;
}
.fa-bullseye{
    font-size: 10px;
}
.fa-ellipsis-h{
    font-size: 10px;
    color: #000;
}
.ui-front {
    z-index: 1051 !important;
  }
.token-input{
    width: 100% !important;
}
.nametag{
    margin-bottom: 5px;
}
.name-job{
    margin-right: -30px;
}
.platform{
    margin-bottom: -15px;
    margin-right: -50px;
}
.api-pf{
    font-size: 13px;
}
.sow-rate{
    margin-bottom: -15px;
    font-size: 13px;
}
.social{
    width: 65px;
}
.note{
    margin-bottom: -15px;
    font-size: 13px;
}
.kol-img{
    border-radius: 50%;
}
.kol-ava{
    margin-right: -30px;
}
.social-box{
    border: 2px solid #bbc6c8;
    border-radius: 10px;
}
.social-box p{
    text-align: center;
}
.follow{
    position: relative;
}
.social-icon{
    position: absolute;
    top: 10px;
    left: 10px;
}
.info-date{
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
}
.info-date:hover{
    color: #daa458;
}
.info-date2{
    float: right;
    color: gray;
}
.info-date2:hover{
    color: #daa458;
}
.modal-title{
    font-weight: bold;
    color: #000;
}
.iconpng:hover{
    opacity: 0.7;
}
.rowdetail2{
    padding-top: 20px;
}
.tel-mail{
    margin-top: 5px;
    margin-left: -10px;
    color: #000;
    font-weight: bold;
}
.api-fb{
    margin-top: 20px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.api-follow{
    margin-top: -25px;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.api-num{
    font-size: 20px;
    font-weight: bold;
    color: #2ec7cf;
}
.api-active{
    margin-top: -17px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}
.nametag2{
    font-size: 20px;
}
.rowdetail3{
    padding-top: 10px;
}
.row-sow1{
    font-size: 18px;
    font-weight: bold;
}
.row-sow2{
    border: 1.5px solid #bbc6c8;
    border-radius: 20px;
    margin-bottom: 7px;
    height: 30px;
    color: #000;
}
.row-note1{
    font-size: 18px;
    font-weight: bold;
}
.row-note2{
    background-color: #ecfafa;
    border-radius: 15px;
    color: #000;
}
.p-note{
    margin-bottom: 15px;
}
.rowdetail4{
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
}
.rowdetail5{
    border: 1.5px solid #bbc6c8;
    border-radius: 15px;
    color: #000;
}
.rowdetail5 div{
    padding-top: 10px;
}
.btnrefresh{
    background-color: #fff;
    margin-left: -10px;
    margin-top: -10px;
}
.fa-redo-alt{
    font-size: 20px;
    margin: -5px;
    margin-top: 1px;
}
.btnsearch{
    color: #fff;
    border: none;
}
.dataTables_filter {
    display: none;
}
.labelfilter{
    font-size: 12px;
}
.rowfilter1{
    margin-top: 30px;
}
.padding-0{
    padding-right:10px;
    padding-left:10px;
}
.boxfilter{
    background-color: #fff;
    padding:5px;
    margin-top: 10px;
    border-radius: 10px;
}
.btngo{
    width: 60%;
}
.p-filter{
    color: #000;
    font-weight: bold;
}

